*~
*.orig
*.class
*.jar
*.log
*.odb
*.hprof.txt
*.hprof
*.ipr
*.iws
*.iml
dependency-reduced-pom.xml
report
build
bin
target
out
.svn
.idea
.project
.settings
.externalToolBuilders
.classpath
.metadata
.codepro
.ant-targets-build.xml
*.releaseBackup
*.xml.tag
*.xml.next
release.properties
